In [11]:
import pandas as pd

In [12]:
bench_df=pd.read_table("benchmarking_set_parsed_totc.tsv", names=["SP", "Seq", "Class","AC"])
bench_df.drop(columns="SP")
bench_df=bench_df[["AC", "Seq", "Class"]]
bench_df["CV"]="Nan"
bench_df["Benchmarking"]=1
bench_df

,AC,Seq,Class,CV,Benchmarking
0,Q13015,MRDPVSSQYSSFLFWRMPIPELDLSELEGLGLSDTATYKVKDSSVG...,0,Nan,1
1,P04921,MWSTRSPNSTAWPLSLEPDPGMASASTTMHTTTIAEPDPGMSGWPD...,0,Nan,1
2,Q8BG31,MHQIYSCSDENIEVFTTVIPSKVSSSSRRRVKSSHHLLAKNVVIES...,0,Nan,1
3,Q03482,MSQQQGYYQQGPPQQGYYQQGPPQQGYYQQGPPQQGYPQQQPVYVQ...,0,Nan,1
4,O94428,MRMDGSDFEDRKVSKPSPVLPFDVSNIGDLSQGVHSPLGISHFDSK...,0,Nan,1
...,...,...,...,...,...
2119,P05367,MKLLTSLVFCSLLLGVCHGGFFSFIGEAFQGAGDMWRAYTDMKEAG...,1,Nan,1
2120,P31723,MRLPVSFPLTVLSLLGSTIAHPYGETEAVLRSEPKSNQAKADAVKE...,1,Nan,1
2121,P16150,MATLLLLLGVLVVSPDALGSTTAVQTPTSGEPLVSTSEPLSSKMYT...,1,Nan,1
2122,Q05928,MDPTAPGSSVSSLPLLLVLALGLAILHCVVADGNTTRTPETNGSLC...,1,Nan,1
2123,Q9R1T7,MKPYFSCVFVFCFLIKLLTGELNDLANHRMFSFHDGGVQISCNYPE...,1,Nan,1

In [8]:
df_cv1=pd.read_table("SMCV1", names=["SP", "Seq", "Class","AC"])
df_cv1.drop(columns="SP")
df_cv1=df_cv1[["AC", "Seq", "Class"]]
df_cv1["CV"]=0
df_cv1["Benchmarking"]=0

df_cv2=pd.read_table("SMCV2", names=["SP", "Seq", "Class","AC"])
df_cv2.drop(columns="SP")
df_cv2=df_cv2[["AC", "Seq", "Class"]]
df_cv2["CV"]=1
df_cv2["Benchmarking"]=0

df_cv3=pd.read_table("SMCV3", names=["SP", "Seq", "Class","AC"])
df_cv3.drop(columns="SP")
df_cv3=df_cv3[["AC", "Seq", "Class"]]
df_cv3["CV"]=2
df_cv3["Benchmarking"]=0

df_cv4=pd.read_table("SMCV4", names=["SP", "Seq", "Class","AC"])
df_cv4.drop(columns="SP")
df_cv4=df_cv4[["AC", "Seq", "Class"]]
df_cv4["CV"]=3
df_cv4["Benchmarking"]=0

df_cv5=pd.read_table("SMCV5", names=["SP", "Seq", "Class","AC"])
df_cv5.drop(columns="SP")
df_cv5=df_cv5[["AC", "Seq", "Class"]]
df_cv5["CV"]=4
df_cv5["Benchmarking"]=0

df_cv1

,AC,Seq,Class,CV,Benchmarking
0,Q6ASY2,MAVAARAAAVACLLVVGLAAVAGVDGATASSPAPAPAVDCTAEALK...,1,0,0
1,Q8VCS0,MKAWGALWIVLGLLLWPEPGAASSLPLLMDSIIQALAELEQKVPVT...,1,0,0
2,Q9NSA1,MDSDETGFEHSGLWVSVLAGLLLGACQAHPIPDSSPLLQFGGQVRQ...,1,0,0
3,P18417,MANFSESKSMMAVFFMFFLLLLSSSSSSSSSSPILKKIFIESPSYA...,1,0,0
4,Q8C1Q4,MLVATLLCALCCGLLAASAHAGYSEDRCSWRGSGLTQEPGSVGQLT...,1,0,0
...,...,...,...,...,...
1693,P50876,MTTTRYRPTWDLALDPLVSCKLCLGEYPVEQMTTIAQCQCIFCTLC...,0,0,0
1694,P27516,MQLHMNLPTSRIAAGASINVRPAPLLRTAAPKRVCKHIVRAENNPS...,0,0,0
1695,O42996,MQRDLTVDEFLNYLYINVKELFTLKEKSFHFWRNSLISCSKTKNFL...,0,0,0
1696,Q9P2P6,MANVQVAVRVRPLSKRETKEGGRIIVEVDGKVAKIRNLKVDNRPDG...,0,0,0
1697,Q9LQ02,MEDDCEELQVPVGTLTSIGFSISNNNDRDKMSVLEVEAPNQVTDSR...,0,0,0

In [9]:
entry_table=pd.concat([df_cv1,df_cv2,df_cv3,df_cv4,df_cv5,bench_df], axis=0)

In [10]:
entry_table= entry_table.reset_index(drop=True)
entry_table= entry_table.rename(columns={"AC":"Accession code", "Seq":"Sequence","Class":"Signal peptide","CV":"CV", "Benchmarking":"Benchmarking"})
entry_table
entry_table.to_csv("entries_table.tsv",sep="\t")